@use '../variables';

$block: '.#{variables.$ns}pagination';

#{$block} {
  display: flex;
  gap: var(--yd-spacing-3xs);

  &_size {
    &_s {
      --yd-pagination-item-size: 32px;
      --yd-pagination-item-icon-size: 16px;
      --yd-pagination-item-text-size: var(--yd-text-size-s);
    }

    &_m {
      --yd-pagination-item-size: 40px;
      --yd-pagination-item-icon-size: 24px;
      --yd-pagination-item-text-size: var(--yd-text-size-m);
    }

    &_l {
      --yd-pagination-item-size: 48px;
      --yd-pagination-item-icon-size: 24px;
      --yd-pagination-item-text-size: var(--yd-text-size-l);
    }
  }

  &__page,
  &__next,
  &__previous,
  &__break {
    width: var(--yd-pagination-item-size);
    height: var(--yd-pagination-item-size);
    overflow: hidden;
    font-size: var(--yd-pagination-item-text-size);
    cursor: pointer;
    border-radius: var(--yd-border-radius-m);
    transition:
      background-color 0.15s ease,
      color 0.15s ease;

    &:hover {
      background-color: var(--yd-color-bg-brand-light);
    }

    &:has(a:focus-visible) {
      outline: 3px solid var(--yd-color-outline-brand);
      outline-offset: 2px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  &__page.active {
    color: var(--yd-color-text-primary-inverted);
    cursor: auto;
    background-color: var(--yd-color-bg-brand);
  }

  &__next,
  &__previous {
    svg {
      width: var(--yd-pagination-item-icon-size);
      height: var(--yd-pagination-item-icon-size);
      color: var(--yd-color-icon);
    }

    &.disabled {
      cursor: not-allowed;
      background-color: transparent;

      svg {
        color: var(--yd-color-text-disabled);
      }
    }
  }
}
