@use '../variables';

$block: '.#{variables.$ns}switch';

#{$block} {
  display: inline-flex;
  gap: var(--yd-spacing-xs);
  align-items: center;
  font-size: var(--yd-switch-font-size);
  cursor: pointer;

  &_size {
    &_s {
      --yd-switch-width: 28px;
      --yd-switch-height: 16px;
      --yd-switch-circle-size: 12px;
      --yd-switch-font-size: 13px;
    }

    &_m {
      --yd-switch-width: 36px;
      --yd-switch-height: 20px;
      --yd-switch-circle-size: 16px;
      --yd-switch-font-size: 14px;
    }

    &_l {
      --yd-switch-width: 44px;
      --yd-switch-height: 24px;
      --yd-switch-circle-size: 20px;
      --yd-switch-font-size: 16px;
    }
  }

  &__indicator {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    width: var(--yd-switch-width);
    height: var(--yd-switch-height);
    background-color: var(--yd-color-gray-100);
    border-radius: 12px;
    transition: background-color 0.3s ease;

    &::before {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: var(--yd-switch-circle-size);
      height: var(--yd-switch-circle-size);
      content: '';
      background-color: var(--yd-color-bg-primary);
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  }

  &:hover &__indicator {
    background-color: var(--yd-color-gray-150);
  }

  &:has(input:checked) &__indicator {
    background-color: var(--yd-color-bg-brand);

    &::before {
      transform: translateX(var(--yd-switch-circle-size));
    }
  }

  &:has(input:checked):hover &__indicator {
    background-color: var(--yd-color-bg-brand-hover);
  }

  &:has(input:disabled) {
    color: var(--yd-color-control-text-disabled);
    cursor: not-allowed;

    #{$block}__indicator {
      background-color: var(--yd-color-control-bg-disabled);
    }
  }

  &:has(input:disabled:checked) &__indicator {
    background-color: rgb(var(--yd-color-blue-900-rgb), 0.32);
  }

  input {
    position: absolute;
    inset: 0;
    appearance: none;
    cursor: inherit;
    border-radius: inherit;
    opacity: 0;
  }
}
