@use '../variables';

$block: '.#{variables.$ns}switch';

#{$block} {
  display: inline-flex;
  gap: var(--yd-switch-gap);
  align-items: center;
  line-height: var(--yd-text-line-height-s);
  cursor: pointer;

  &_size {
    &_s {
      --yd-switch-width: 28px;
      --yd-switch-height: 16px;
      --yd-switch-circle-size: 12px;
      --yd-switch-gap: var(--yd-spacing-xs);
      --yd-switch-text-size: var(--yd-text-size-s);
    }

    &_m {
      --yd-switch-width: 36px;
      --yd-switch-height: 20px;
      --yd-switch-circle-size: 16px;
      --yd-switch-gap: var(--yd-spacing-xs);
      --yd-switch-text-size: var(--yd-text-size-m);
    }

    &_l {
      --yd-switch-width: 44px;
      --yd-switch-height: 24px;
      --yd-switch-circle-size: 20px;
      --yd-switch-gap: var(--yd-spacing-s);
      --yd-switch-text-size: var(--yd-text-size-l);
    }
  }

  &__indicator {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    width: var(--yd-switch-width);
    height: var(--yd-switch-height);
    background-color: var(--yd-color-bg-neutral-accent);
    border-radius: 100px;
    transition: background-color 0.2s ease;

    &::before {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: var(--yd-switch-circle-size);
      height: var(--yd-switch-circle-size);
      content: '';
      background-color: var(--yd-color-text-primary-inverted);
      border-radius: 50%;
      transition: transform 0.2s ease;
    }

    &:has(input:checked) {
      background-color: var(--yd-color-bg-brand);

      &::before {
        transform: translateX(var(--yd-switch-circle-size));
      }
    }

    &:has(input:focus-visible) {
      outline: 3px solid var(--yd-color-outline-brand);
      outline-offset: 2px;
    }

    &:has(input:disabled) {
      background-color: var(--yd-color-bg-disabled);
    }

    &:has(input:disabled:checked) {
      background-color: var(--yd-color-bg-brand);
      opacity: 0.35;
    }

    input {
      position: absolute;
      inset: 0;
      appearance: none;
      cursor: inherit;
      border-radius: inherit;
      opacity: 0;
    }
  }

  &__label {
    font-size: var(--yd-switch-text-size);
  }

  &:hover:not(&_disabled) {
    #{$block}__indicator {
      background-color: var(--yd-color-bg-neutral-accent-hover);
    }

    #{$block}__indicator:has(input:checked) {
      background-color: var(--yd-color-bg-brand-hover);
    }
  }

  &_disabled {
    cursor: not-allowed;

    #{$block}__label {
      color: var(--yd-color-text-disabled);
    }
  }
}
