:root {
  --yd-spacing-3xs: 2px;
  --yd-spacing-2xs: 4px;
  --yd-spacing-xs: 8px;
  --yd-spacing-s: 12px;
  --yd-spacing-m: 16px;
  --yd-spacing-l: 20px;
  --yd-spacing-xl: 24px;
  --yd-spacing-2xl: 32px;
  --yd-spacing-3xl: 40px;
}
