:root {
  --yd-text-family: 'Roboto', sans-serif;

  --yd-text-size-xs: 13px;
  --yd-text-size-s: 14px;
  --yd-text-size-m: 16px;
  --yd-text-size-l: 18px;
  --yd-text-size-xl: 20px;
  --yd-text-size-2xl: 24px;
  --yd-text-size-3xl: 32px;
  --yd-text-size-4xl: 48px;

  --yd-text-line-height-xs: 1.2;
  --yd-text-line-height-s: 1.4;
  --yd-text-line-height-m: 1.5;
  --yd-text-line-height-l: 1.6;
}
