@use 'reset';
@use 'fonts';
@use 'colors/palette';
@use 'colors/text';
@use 'colors/background';
@use 'colors/line';
@use 'colors/icon';
@use 'colors/effect';
@use 'typography';
@use 'border-radius';
@use 'spacing';

body {
  font-family: var(--yd-text-family);
  font-size: var(--yd-text-size-m);
  font-weight: 400;
  line-height: var(--yd-text-line-height-m);
  color: var(--yd-color-text-primary);
}
