@use '../variables';

$block: '.#{variables.$ns}checkbox';

#{$block} {
  display: inline-flex;
  gap: var(--yd-checkbox-gap);
  align-items: center;
  line-height: var(--yd-text-line-height-s);
  cursor: pointer;

  &_size {
    &_s {
      --yd-checkbox-size: 16px;
      --yd-checkbox-gap: var(--yd-spacing-xs);
      --yd-checkbox-text-size: var(--yd-text-size-s);
    }

    &_m {
      --yd-checkbox-size: 20px;
      --yd-checkbox-gap: var(--yd-spacing-xs);
      --yd-checkbox-text-size: var(--yd-text-size-m);
    }

    &_l {
      --yd-checkbox-size: 20px;
      --yd-checkbox-gap: var(--yd-spacing-s);
      --yd-checkbox-text-size: var(--yd-text-size-l);
    }
  }

  &__indicator {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: var(--yd-checkbox-size);
    height: var(--yd-checkbox-size);
    color: var(--yd-color-text-primary-inverted);
    border: 1px solid var(--yd-color-line-neutral);
    border-radius: var(--yd-border-radius-s);
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;

    input {
      position: absolute;
      inset: -1px;
      appearance: none;
      cursor: inherit;
      border-radius: inherit;
      opacity: 0;
    }

    svg {
      width: calc(var(--yd-checkbox-size) - 2px);
      height: calc(var(--yd-checkbox-size) - 2px);
    }
  }

  &__label {
    font-size: var(--yd-checkbox-text-size);
  }

  &:hover &__indicator {
    border-color: var(--yd-color-line-neutral-hover);
  }

  &:has(input:checked) &__indicator,
  &:has(input:indeterminate) &__indicator {
    background-color: var(--yd-color-bg-brand);
    border-color: transparent;
  }

  &:has(input:indeterminate) &__indicator::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: calc(100% - 4px);
    height: 2px;
    content: '';
    background-color: var(--yd-color-text-primary-inverted);
    border-radius: var(--yd-border-radius-xs);
    transform: translate(-50%, -50%);
  }

  &:has(input:checked):hover &__indicator,
  &:has(input:indeterminate):hover &__indicator {
    background-color: var(--yd-color-bg-brand-hover);
  }

  &:has(input:focus-visible) &__indicator {
    outline: 3px solid var(--yd-color-outline-brand);
    outline-offset: 2px;
  }

  &:has(input:disabled),
  &:has(input:disabled:checked),
  &:has(input:disabled:indeterminate) {
    cursor: not-allowed;

    #{$block}__indicator {
      color: var(--yd-color-text-disabled);
      background-color: var(--yd-color-bg-disabled);
      border-color: transparent;

      &::before {
        background-color: var(--yd-color-text-disabled);
      }
    }

    #{$block}__label {
      color: var(--yd-color-text-disabled);
    }
  }
}
