:root {
  --yd-color-control-text-disabled: rgb(var(--yd-color-blue-900-rgb), 0.5);
  --yd-color-control-bg-disabled: rgb(var(--yd-color-blue-900-rgb), 0.1);
  --yd-color-control-border-disabled: rgb(var(--yd-color-blue-900-rgb), 0.24);

  --yd-color-control-focus-outline-brand: var(--yd-color-cyan-100);
  --yd-color-control-focus-outline-success: var(--yd-color-green-100);
  --yd-color-control-focus-outline-warning: var(--yd-color-orange-100);
  --yd-color-control-focus-outline-danger: var(--yd-color-red-100);
}
