@use '../../variables';

$block: '.#{variables.$ns}selectOption';

#{$block} {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: var(--yd-spacing-2xs) var(--yd-spacing-s);
  line-height: 1.4;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover:not(&_isSelected) {
    background-color: var(--yd-color-bg-brand-light);
  }

  &_isSelected {
    background-color: var(--yd-color-bg-brand-light-hover);
  }
}
