@use '../variables';

$block: '.#{variables.$ns}text-field';

#{$block} {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    display: inline-flex;
    gap: var(--yd-spacing-3xs);
    margin-bottom: var(--yd-spacing-xs);
    font-size: var(--yd-text-size-m);
    font-weight: 500;
    line-height: var(--yd-text-line-height-m);
  }

  &__asterisk {
    color: var(--yd-color-text-danger);
  }

  &__errorMessage {
    position: absolute;
    top: calc(100% + var(--yd-spacing-2xs));
    left: 0;
    font-size: var(--yd-text-size-s);
    line-height: var(--yd-text-line-height-xs);
    color: var(--yd-color-text-danger);
  }
}
